/*版心*/
.wrapper{
    margin: 0 auto;
    width: 1200px;

}
body{
    background-color: #f3f5f7;
}
.header{
    height: 100px;
    background-color: #fff;
}
.header .wrapper{
    padding-top: 29px;
    display: flex;
}


/*logo*/
.logo a{
    display: block;
    width: 230px;
    height: 70px;
    background-image: url(../images/微信图片_20241116212214.jpg);
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/*nav(导航区)*/
.nav{
    margin-left: 102px;
}
.nav ul{
    display: flex;
}
.nav li{
    margin-right:  24px;
}
.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}
/*active 默认选中带下划线*/
.nav li .active,
.nav li a:hover
{
    border-bottom: 2px solid #00a4ff;
}


/*搜索*/
.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;

}
.search input{
    flex:1;
    border: 0;
    background-color: transparent;
    outline: none;
}
/*::placeholder是该里面文字的属性*/
.search input::placeholder{
    font-size: 14px;
    color:#999;
}
/*搜索图标*/
.search a{
    align-self:  center;
    width: 20px;
    height: 20px;
    background-image: url(../images/伊蕾娜.jpg);
}


/*用户*/
.user{
    margin-left: 12px;
    margin-top: 4px;
}
.user img{
    margin-right: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.user span{
    font-size: 16px;
    color: #666;
}

/*banner区域*/
.banner{
    height: 420px;
    background-color: #00a4ff;
}
.banner .wrapper{
    height: 420px;
    background-image: url(../uploads/banner.jpg);
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    
    

    
}
/*侧导航左*/
.banner .left{
    padding:3px 20px;
    width: 260px;
    height: 420px;
    background-color: rgba(0,0,0,0.12);
}
.banner .left a{
    display: block;
    height: 69px;
    background: url(../images/伊蕾娜.jpg) no-repeat right center;
    line-height: 69px;
    font-size: 26px;
    color: #fff;
    
}

.banner .left a:hover{
    color: black;
    background-image: url(../images/yln.jpg);
}
/*侧导航右*/
.banner .right{
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400px;
}
.banner .right .content{
    padding:14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}
.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .right dt{
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 700;
}
.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;

}
.banner .right dd span{
    color: #00a4ff;
}
.banner .right dd strong{
    color: #7d7d7d;
    font-weight: 400;
}
.banner .right a{
    display: block;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;

}


/*推荐栏*/
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;

    background-color: #f3f5f7;
    line-height: 60px;
    height: 60px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
}
.recommend h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}
/*除去换集和动漫集数，把剩下的尺寸都给ul*/
.recommend ul{
    flex:1;
    display: flex;
}
.recommend ul li a{
    padding: 0 24px;
    border-right: 3px solid #e0e0e0;
    font-size: 18px;
}
/*删除最后一个竖线*/
.recommend ul li:last-child a {
    border-right: 0;
}
.recommend .modify{
    font-size: 16px;
    color: #00a4ff;
}

/*推荐集数 */
.course{
    margin-top: 15px;
}
/*标题-可以通用*/
/*垂直居中*/
.hd{
    display:flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.hd h3{
    font-size: 21px;
    font-weight: 400;
}
.hd .more{
    padding-right: 30px;
    font-size: 14px;
    color: #999;
    background:url(../images/伊蕾娜.jpg) no-repeat right center;

}
/*课程内容*/
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li{
    margin-bottom: 15px;
    width: 228px;
    height: 271px;
    
    
}
.bd li .pic img{
    height: 156px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}
.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bd li .text h4{
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

}
.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
.bd li .text p span{
    color: #fa6400;
}
.bd li .text p i{
    font-style: normal;
}

/*同人推荐*/

.hd ul{
    display: flex;
}
.hd li{
    margin-right: 60px;
    font-size: 16px;
}
.hd li .active{
    color: #00a4ff;
}
.bd{
    display: flex;
    justify-content: space-between;
}
.bd .left{
    width: 300px;
    background-image: url(../uploads/11.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.bd .right{
    width: 957px;
}

.bd .right .top{
    background-image: url(../uploads/12.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 15px;
    height: 200px;
}